---
import Layout from "../layouts/RetroLayout.astro";
---

<Layout title='Cookie Policy' hasGoBack>
  <section>
    <div>
      <h1>Cookie Policy</h1>
      <p>
        Questo documento contiene informazioni in merito alle tecnologie che consentono a questa Applicazione di raggiungere gli scopi descritti di seguito. Tali tecnologie permettono al Titolare di raccogliere e salvare informazioni (per esempio tramite l’utilizzo di Cookie) o di utilizzare risorse (per esempio eseguendo uno script) sul dispositivo
        dell’Utente quando quest’ultimo interagisce con questa Applicazione. Per semplicità, in questo documento tali tecnologie sono sinteticamente definite “Strumenti di Tracciamento”, salvo vi sia ragione di differenziare. Per esempio, sebbene i Cookie possano essere usati in browser sia web sia mobili, sarebbe fuori luogo parlare di Cookie nel contesto
        di applicazioni per dispositivi mobili, dal momento che si tratta di Strumenti di Tracciamento che richiedono la presenza di un browser. Per questo motivo, all’interno di questo documento il termine Cookie è utilizzato solo per indicare in modo specifico quel particolare tipo di Strumento di Tracciamento. Alcune delle finalità per le quali vengono
        impiegati Strumenti di Tracciamento potrebbero, inoltre richiedere il consenso dell’Utente. Se viene prestato il consenso, esso può essere revocato liberamente in qualsiasi momento seguendo le istruzioni contenute in questo documento. Questa Applicazione utilizza Strumenti di Tracciamento gestiti direttamente dal Titolare (comunemente detti Strumenti
        di Tracciamento “di prima parte”) e Strumenti di Tracciamento che abilitano servizi forniti da terzi (comunemente detti Strumenti di Tracciamento “di terza parte”). Se non diversamente specificato all’interno di questo documento, tali terzi hanno accesso ai rispettivi Strumenti di Tracciamento. Durata e scadenza dei Cookie e degli altri Strumenti di
        Tracciamento simili possono variare a seconda di quanto impostato dal Titolare o da ciascun fornitore terzo. Alcuni di essi scadono al termine della sessione di navigazione dell’Utente. In aggiunta a quanto specificato nella descrizione di ciascuna delle categorie di seguito riportate, gli Utenti possono ottenere informazioni più dettagliate ed
        aggiornate sulla durata, così come qualsiasi altra informazione rilevante - quale la presenza di altri Strumenti di Tracciamento - nelle privacy policy dei rispettivi fornitori terzi (tramite i link messi a disposizione) o contattando il Titolare.
      </p>
      <h3>Statistica</h3>
      <div>
        <p>I servizi contenuti nella presente sezione permettono al Titolare del Trattamento di monitorare e analizzare i dati di traffico degli utenti.</p>
        <h4>Google Analytics 4 (Google Ireland Limited)</h4>

        <p>
          Google Analytics è un servizio di statistica fornito da Google Ireland Limited (“Google”). Google utilizza i Dati Personali raccolti allo scopo di tracciare ed esaminare l’utilizzo di questa Applicazione, compilare report e condividerli con gli altri servizi sviluppati da Google.<br />
           Google potrebbe utilizzare i Dati Personali per contestualizzare e personalizzare gli annunci del proprio network pubblicitario.<br />
           In Google Analytics 4, gli indirizzi IP vengono utilizzati al momento della raccolta e poi eliminati prima che i dati vengano registrati in qualsiasi data center o server. Per saperne di più, è possibile consultare la <a href='https://support.google.com/analytics/answer/12017362?hl=it&ref_topic=2919631' target='_blank' rel='noopener'
            >documentazione ufficiale di Google</a
          >.
        </p>

        <p>Dati Personali trattati: città, Dati di utilizzo, informazioni sul browser, informazioni sul dispositivo, latitudine (della città), longitudine (della città), numero di Utenti, statistiche delle sessioni e Strumenti di Tracciamento.</p>

        <p>Luogo del trattamento: Irlanda – <a href='https://policies.google.com/privacy' target='_blank' rel='noopener noreferrer'>Privacy Policy</a> – <a href='https://tools.google.com/dlpage/gaoptout?hl=it"' target='_blank' rel='noopener'>Opt Out</a>.</p>

        <p>Durata di archiviazione:</p><ul><li>_ga: 2 anni</li> <li>_ga_*: 2 anni</li></ul>
        <p></p>
      </div>
      <h3>Individuare le impostazioni relative agli Strumenti di Tracciamento</h3>
      <p>Gli Utenti possono, per esempio, trovare informazioni su come gestire i Cookie in alcuni dei browser più diffusi ai seguenti indirizzi:</p>
      <ul>
        <li><a rel='noopener nofollow' target='_blank' href='https://support.google.com/chrome/answer/95647?hl=it&p=cpn_cookies'>Google Chrome</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='https://support.mozilla.org/it/kb/Attivare%20e%20disattivare%20i%20cookie'>Mozilla Firefox</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='https://support.apple.com/it-it/guide/safari/manage-cookies-and-website-data-sfri11471/'>Apple Safari</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='http://windows.microsoft.com/it-it/windows-vista/block-or-allow-cookies'>Microsoft Internet Explorer</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='https://support.microsoft.com/it-it/help/4027947'>Microsoft Edge</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='https://support.brave.com/hc/articles/360022806212-How-do-I-use-Shields-while-browsing'>Brave</a></li>
        <li><a rel='noopener nofollow' target='_blank' href='https://help.opera.com/latest/web-preferences/#cookies'>Opera</a></li>
      </ul>
      <p>
        Gli Utenti possono inoltre gestire alcuni Strumenti di Tracciamento per applicazioni mobili disattivandoli tramite le apposite impostazioni del dispositivo, quali le impostazioni di pubblicità per dispositivi mobili o le impostazioni relative al tracciamento in generale (gli Utenti possono consultare le impostazioni del dispositivo per individuare
        quella pertinente).
      </p>
      <p>
        Gli Utenti possono inoltre gestire alcuni Strumenti di Tracciamento per applicazioni mobili disattivandoli tramite le apposite impostazioni del dispositivo, quali le impostazioni di pubblicità per dispositivi mobili o le impostazioni relative al tracciamento in generale (gli Utenti possono consultare le impostazioni del dispositivo per individuare
        quella pertinente).
      </p>
      <p>
        Gli Utenti sono liberi di decidere se permettere o meno l'utilizzo di Strumenti di Tracciamento. Tuttavia, si noti che gli Strumenti di Tracciamento consentono a questa Applicazione di fornire agli Utenti un'esperienza migliore e funzionalità avanzate (in linea con le finalità delineate nel presente documento). Pertanto, qualora l'Utente decida di
        bloccare l'utilizzo di Strumenti di Tracciamento, il Titolare potrebbe non essere in grado di fornire le relative funzionalità.
      </p>
      <h3>Titolare del Trattamento dei Dati</h3>
      <p>Michael Di Prisco</p>
      <p>Indirizzo email del Titolare: cadienvan AT gmail DOT com</p>
      <p>
        Dal momento che l’uso di Strumenti di Tracciamento di terza parte su questa Applicazione non può essere completamente controllato dal Titolare, ogni riferimento specifico a Strumenti di Tracciamento di terza parte è da considerarsi indicativo. Per ottenere informazioni complete, gli Utenti sono gentilmente invitati a consultare la privacy policy dei
        rispettivi servizi terzi elencati in questo documento.
      </p>
      <p>Data l'oggettiva complessità di identificazione delle tecnologie di tracciamento, gli Utenti sono invitati a contattare il Titolare qualora volessero ricevere ulteriori informazioni in merito all'utilizzo di tali tecnologie su questa Applicazione.</p>
    </div>
  </section>
</Layout>

<script>
  document.querySelector("main").classList.add("default-font");
</script>
