<section class='nes-container with-title'>
  <h3 class='title'>Bio</h3>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li>Tech Lead @ <a href='https://www.jointly.pro/'>Jointly</a>.</li>
      <li>Ambassador @ <a href='https://github.com/Il-Libro-Open-Source/'>Il Libro Open Source</a>.</li>
      <li>Moderator @ <a href='https://dev.to/cadienvan'>Dev.to</a>.</li>
      <li>Content Advisory Board Member @ <a href='https://logrocket.com/'>LogRocket</a>.</li>
      <li>Writer @ <a href="https://theredcode.it/">TheRedCode.it</a>.</li>
      <li>Tech Reviewer @ <a href="https://www.packtpub.com/">Packt</a>.</li>
      <li>Contributor @ <a href="https://support.mozilla.org/it/user/cadienvan/">Mozilla</a>.</li>
    </ul>
  </div>
  <p>Qui raccolgo tutto ciò che mi riguarda, da post su LinkedIn a conferenze alle quali ho partecipato.</p>
</section>
