<section class='nes-container with-title'>
  <h3 class='title'>Bio</h3>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li>Senior Back-End Developer @ <a href='https://www.jointly.pro/'>Jointly</a>.</li>
      <li>Ambassador @ <a href='https://github.com/Il-Libro-Open-Source/'>Il Libro Open Source</a>.</li>
      <li>Moderator @ <a href='https://dev.to/cadienvan'>Dev.to</a>.</li>
      <li>Content Advisory Board Member @ <a href='https://logrocket.com/'>LogRocket</a>.</li>
    </ul>
  </div>
</section>
