<section class='nes-container with-title'>
  <h3 class='title'>Bio</h3>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li>Tech Lead @ <a href='https://www.jointly.pro/'>Jointly</a>.</li>
      <li>Founder @ <a href='https://github.com/Il-Libro-Open-Source/'>Il Libro Open Source</a>.</li>
      <li>Host @ <a href='https://open.spotify.com/show/3EAhXkBUmHE1a8vFTH84Yg'>Il Podcast Open Source</a>.</li>
      <li>Writer @ <a href="https://theredcode.it/authors/michael-di-prisco/">TheRedCode.it</a>.</li>
      <li>Moderator @ <a href='https://dev.to/cadienvan'>Dev.to</a>.</li>
    </ul>
  </div>
  <p>Qui raccolgo tutto ciò che mi riguarda, da post su LinkedIn a conferenze alle quali ho partecipato.</p>
</section>
