---
import { Image } from "astro:assets";

import pointerRight from "../../public/assets/pointer-right.png";
---

<section class='nes-container with-title'>
  <h3 class='title'>Blog</h3>
  <div class='lists'>
    <h2>
      <a href='/blog/inevitabot'><Image src={pointerRight} alt='Pointer Right' /><span>Inevitabot</span></a>
    </h2>
    <h2>
      <a href='/blog/asynchronous-batching'><Image src={pointerRight} alt='Pointer Right' /><span>Asynchronous Batching</span></a>
    </h2>
    <h2>
      <a href='/blog/svalutazione-frontend'><Image src={pointerRight} alt='Pointer Right' /><span>La silenziosa e pervasiva svalutazione del frontend.</span></a>
    </h2>
    <h2>
      <a href='https://www.theredcode.it/tags/event-driven/' target='_blank' rel='noopener'><Image src={pointerRight} alt='Pointer Right' /><span>Event-Driven Architecture @ TheRedCode.it</span></a>
    </h2>
  </div>
</section>
