---
import { Image } from "astro:assets";

import pointerRight from "../../public/assets/pointer-right.png";
---

<section class='nes-container with-title'>
  <h3 class='title'>Blog</h3>
  <div class='lists'>
    <h2>
      <a href='/blog/inevitabot'><Image src={pointerRight} alt='Pointer Right' /><span>Inevitabot</span></a>
    </h2>
  </div>
</section>
