<section class='nes-container with-title'>
  <h3 class='title'>Angolo delle review</h3>
  <p>📚 Qui raccolgo tutti i libri che ho revisionato come Tech Reviewer.</p>
  <h4>O'Reilly</h4>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li><a href='https://learning.oreilly.com/library/view/building-micro-frontends-2nd/9781098170776/'>Building Micro-Frontends, 2nd Edition</a>, Luca Mezzalira.</li>
      <li><a href='https://learning.oreilly.com/library/view/leveling-up-as/9781098177508/'>Leveling Up as a Tech Lead</a>, Anemari Fiser.</li>
    </ul>
  </div>
  <h4>Packt</h4>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li><a href='https://www.packtpub.com/en-us/product/vuejs-3-for-beginners-9781805126775'>Vue.js 3 For Beginners</a>, Simone Cuomo.</li>
    </ul>
  </div>
  <h4>Independent</h4>
  <div class='lists'>
    <ul class='nes-list is-disc'>
      <li><a href='https://loufranco.com/tech-debt-book'>Swimming in Tech Debt</a>, Lou Franco.</li>
      <li><a href="https://understandlegacycode.com/first-aid-kit/">Legacy Code: First Aid Kit</a>, Nicolas Carlo.</li>
    </ul>
  </div>
  <p>👆 Faccio queste attività di revisione per piacere e per cortesia nei confronti di amici e professionisti. L'unico "guadagno" che ho è nell'avere il mio nome associato a queste opere. Se hai bisogno di una revisione, non esitare a contattarmi!</p>
</section>
