<section class='nes-container with-title'>
  <h3 class='title'>Siamo Fuori Dal Loop</h3>
  <iframe data-testid='embed-iframe' style='border-radius:12px' src='https://open.spotify.com/embed/show/6PS96Z2tFJdbMgrZE0s2Yh?utm_source=generator' width='100%' height='80' allowfullscreen='' allow='autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture' loading='lazy'></iframe>
</section>
