<section class='message-list'>
  <section class='message -left'>
    <img src='/assets/avatar.gif' alt='Michael Di Prisco' width='400' height='400' />
    <div class='nes-balloon from-left'>
      <p>Ciao, sono Michael Di Prisco.</p>
      <p>Orientato all'idea che un Software Engineer debba estrarre il meglio da ogni best practice, senza mai seguirla alla lettera.</p>
      <p>Tech Lead / Software Architect. Credo fortemente che l'ascensore di Gregor Hohpe debba essere esteso ad ogni figura di un team tecnico.</p>
      <hr />
      <p><a href='https://open.spotify.com/show/3EAhXkBUmHE1a8vFTH84Yg'>🎧 Ascolta il Podcast de Il Libro Open Source.</a></p>
      <hr />
      <p><a href='https://open.spotify.com/show/6PS96Z2tFJdbMgrZE0s2Yh?si=84bcc838589b4368'>🎧 Ascolta il Podcast "Siamo Fuori Dal Loop" con Paolo Caressa.</a></p>
      <hr />
      <p><a href='https://www.linkedin.com/newsletters/pillole-software-architecture-7256938698552864768/'>Iscriviti alla mia newsletter "Pillole di Software Architecture".</a></p>
      <hr />
      <p><a href='https://www.linkedin.com/newsletters/7262195538446479360/'>Iscriviti alla mia newsletter "In Poche Parole".</a></p>
      <hr />
      <p><a href='https://www.linkedin.com/newsletters/7288951723992219649/'>Iscriviti alla mia newsletter "(De)bug".</a></p>
      <hr />
      <p><a href='https://www.linkedin.com/newsletters/7303145454098092032/'>Iscriviti alla mia newsletter "Domandev".</a></p>
      <hr />
      <p>
        <a href='https://www.linkedin.com/in/mdiprisco/' title='LinkedIn' target='_blank'><i class='nes-icon linkedin'></i></a>
        <a href='https://github.com/Cadienvan/' title='GitHub' target='_blank'><i class='nes-icon github'></i></a>
      </p>
    </div>
  </section>
</section>
<style>
  @media (max-width: 1023px) {
    .message {
      flex-direction: column;
    }

    .message img {
      display: none;
    }

    .nes-balloon.from-left:before,
    .nes-balloon.from-left:after {
      display: none;
    }
  }
</style>
