<section class='message-list'>
  <section class='message -left'>
    <img src='/assets/avatar.gif' alt='Michael Di Prisco' />
    <div class='nes-balloon from-left'>
      <p>Ciao, sono Michael Di Prisco e sono un Software Engineer.</p>
      <p>
        <a href='https://www.linkedin.com/in/mdiprisco/' target='_blank'><i class='nes-icon linkedin'></i></a>
        <a href='https://github.com/Cadienvan/' target='_blank'><i class='nes-icon github'></i></a>
      </p>
    </div>
  </section>
</section>
